body
{
	background-color:rgb(104, ,187, 285);
}

#header, #container, #footer
{
	background-color:rgb(131,184,232);
}

#experiences-box, #studies-box
{
	background-color:white;
}
#left-box
{
	float:left;
	background-color:rgb(9, 30, 45);
	color:white;
	width:25%;
	margin-right: 120px;
	margin-left:20px;
	margin-top:20px;
}

#right-box
{
	overflow:auto;
}

#experiences-box
{
	background-color:white;
}

img
{
	width:80px;
	height:60px;
}